/*

Pink #ED225D
Blue highlight/link #2D7BB6
 */


 @font-face{
    font-family:'National Park';
    src: url('/assets/fonts/NationalPark-Regular.otf') format('opentype'),
    url('/assets/fonts/NationalPark-Regular.woff') format('woff'),
    url('/assets/fonts/NationalPark-Regular.woff2') format('woff2'),
    url('/assets/fonts/NationalPark-Regular.ttf') format('truetype');
 }

* {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}

body {
  font-family:"National Park";
  height: 100%;
  width: 100%;
  overflow: none;
  color: white;
  background: #333;
}

canvas {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type="range"] {
  width: 160px;
}

h1, h2 {
  font-family: "National Park", Helvetica, sans-serif;
  margin:  0 0 5px 0;
}

#main {
  overflow:hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -960px;
  margin-top: -540px;
  width: 1920px;
  height: 1080px;
  background: white;
}

#progressBar {
  position: absolute;
  width:100%;
  height: 20px;
  bottom: 0;
  z-index: 100;
  display:none;
}

#gutter{
  position: absolute;
  height: 8px;
  bottom: 0px;
  width:100%;
  background:#ccc;
}

#progress {
  position:absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 8px;
  background:#ED225D;
}
#progressBar button{
  position:absolute;
  width: 2px;
  height: 8px;
  bottom:0px;
  border:none;
  background:rgba(70, 70, 70, 0.5);
  z-index:101;
}

#progressBar button:hover{
  background:rgba(70,70,70, 1);
}

#progressBar button div{
  display: none;
  text-align: left;
  width:400px;
  position: absolute;
  bottom: 12px;
  color:#F1678E;
  font-family: "National Park";
  font-weight:bold;
  font-size:1.8em;
}

#progressBar button:hover div{
  display: block;
}
/**
 * UI
 */

#pause {
  position:absolute;
  display: none;
  left: 30px;
  bottom: 40px;
  z-index: 1000;
  font-size: 40px;
  cursor: pointer;
  vertical-align:bottom;
  color: rgba(70,70,70, 1);
}

#pause:hover {
  color: #ED225D;
}

.instructionPanel {
  padding: 12px;
  font-size: 1.6em;
  background-color: white;
  color: #ED225D !important;
  position: absolute;
  font-family: 'Inconsolata', monospace;
  white-space:nowrap;
}

/**
 * Sketch
 */

#sketchCanvas{
  position: absolute;
  width:100%;
  z-index:100;
}

#sketchOverlay {
  position: absolute;
  width: 100%;
  z-index:100;
}

#sketchCanvas.foreground, #sketchOverlay {
  z-index: 600;
}

.windowFrame{
  position:absolute;
  top:100px;
  left:100px;
  border:#F1678E solid;
  border-width: 3px;
  border-radius:10px;
  background:white;
  filter: drop-shadow(4px 6px 1px #ddd);
}

.paintingCanvas{
  position:absolute;
  top:100px;
  right:100px;
  border:#F1678E solid;
  border-top-width:30px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-radius:10px;
  background:white;
  filter: drop-shadow(4px 6px 1px #ddd);
}

/**
 * Video
 */

/*this is a div*/
#videoClip {
  position: absolute;
  display: none; 
  /* width:100%;
  height:auto; */
  width: 1920px;
  height: 1080px;

  pointer-events: none;
  z-index: -10;
}

/*this is a canvas*/
#videoCanvas {
  position: absolute;
  bottom: 0;
  width: auto;
  height: 100%;
  pointer-events: none;
  display:none;
  z-index: -10;
  display: none;
}

#videoBackground{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #ffffff;
  display:block;
  z-index: -11;
}
/**
 *  Preload
 */

#preloader {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  opacity: 0;
}

.fontLoadA{
    font-family: "National Park", Helvetica, sans-serif;
}

.fontLoadB {
  font-family: 'Inconsolata', monospace;
}

/**
 * Welcome Panel
 */

#welcome {
  position: absolute;
  width: 1920px;
  text-align: center;
  top: 50%;
  transform:translateY(-50%);
  display: none;

}
#welcome h1{
  font-size:5em;
  font-weight:700;
  color: rgba(70, 70, 70, 1);
  letter-spacing: .03em;
  word-spacing:0.1em;
}

#background-image{
  width:1920;
  margin:0;
  position:absolute;
  top: 50%;
  transform:translateY(-50%);
  left:0;
  z-index:-1;
  opacity: 0.6;
}

#begin{
  width:180px;
  padding:10px 10px 10px 10px;
  border-radius:30px;
  font-family: "National Park";
  font-size:1.5em;
  color:rgba(70,70,70, 1);
  border: 2px solid rgba(70,70,70, 1);
  background:none;
}

#begin:hover{
  background:#ED225D;
  border:2px solid rgba(70,70,70, 0);
  color:white;
}

/**
 * Error Panel
 */

#error {
  position:relative;
  margin: 10% auto;
  width: 100%;
  max-width: 480px;
  text-align: left;
  display: none;
}

/**
 * CTA Panel
 */

#cta {
  width: 100%;
  height:100%;
  top: 0;
  left: 0;
  margin-left: 0;
  margin-top: 0;
  display: none;
  opacity:0;
}

#cta img{
  width: 100%;
  height: auto;
  position:fixed;
  z-index:-1;
}

.panelContainer{
  width:40vw;
  top:50%;
  transform:translateY(-50%);
  left:2vw;
  position:absolute
}
.panelHeader {
  color: #9F0C37;
  padding: 16px;
  font-size:1.6em;
}
.panelBody {
  padding: 32px 16px;
}

.panelBody .btn {
  width: 150px;
  height:150px;
  border-radius: 30px;
  border:2px solid #9F0C37;
  background-color: rgba(255,255,255,0.5);
  color:#9F0C37;
  margin-bottom: 4px;
  font-family: "National Park";
  font-size:1em;
  margin-right:10px;
}

.panelBody .btn:hover {
  background: #ED225D;
  color: white;
  border: none;
}

.panelBody a{
  text-decoration:none;
  color:#9F0C37 !important;
}
.panelBody a:hover {
  color:white !important;
}

#donateBox iframe{
  position:fixed;
  right:0px;
  top:50%;
  transform: translateY(-50%);
  width:100%;
  max-width: 600px;
  min-width: 250px;
  max-height: none !important;
}

/** 
 * Weather Demo
 */

#weather {
  position: absolute;
  display: none;

  top: 24px;
  width: 500px;
  left: 50%;
  margin-left: -250px;
  
  text-align: center;
}

#weatherSpan {
  display: inline-block;
  border-radius: 4px;
  background: rgba(45,123,182,.80);
  border: 2px solid rgb(45,123,182);
  color: white;
  padding: 6px 24px;
  font-size: 60px;
  line-height: 60px;
  box-sizing: content-box;

}

#temperature {
  display: inline-block;
  vertical-align: middle;
}

#wind {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

#speed, #gust {
  font-size: 20px;
  line-height: 20px;
  margin-left: 24px;
  margin-right: 32px;
}

#speed {
  margin-bottom: 8px;
}

#gauge { 
  display: inline-block;
  vertical-align: middle;
}

/**
 * Song Demo
 */

#noteContainer {
  position: absolute;
  top: 480px;
  left: 200px;
  width: 100%;
  /* text-align:center; */
}

.note {
  display: inline-block;

  height: 60px;
  width: 60px;
  line-height: 60px;

  font-family: "National Park", Helvetica, sans-serif;
  font-size: 32px;
  text-align: center;

  background: #F1678E;
  border: 2px solid F1678E;
  color: white;

  margin: 0 4px;
  border-radius: 50%;
  box-sizing: content-box;
}

.note:hover {
  background: rgba(255, 184, 0, .50);
  border: 2px solid rgb(255, 184, 0);    
}

/**
 * Intro Demo
 */

#labelContainer {
  width: 800px;
  margin-left: -500px;
  margin-top: -2.8em;
  text-align: right;
}

#labelSpan {
  font-family: "National Park", Helvetica, sans-serif;
  font-size: 2.6em;
  color: #F1678E;
}

#introLogo {
  width: 200px;
  height: auto;
}

#bullets{
  font-family: "National Park", Helvetica, sans-serif;  
  font-size: 2.4em;
  line-height: 2.0em;
  color: #F1678E;
  text-align: left;
}

.exampleText {
  font-family: 'Inconsolata', monospace;
  font-size: 2.6em;
  color: #f1678e9f; 
}

/**
 * Outro Demo
 */

#outroContainer {
  text-align: center;
  color: #F1678E;
}

#outroContainer .fa-stack {
  font-size: 7em;
}

#outroContainer img {
  width:128px; 
  height:128px;
  margin-left:24px;
}

.outroText{
  font-family: "National Park", Helvetica, sans-serif;
  font-size: 2.4em;
  color: #F1678E;  
}

